# .envrc - for use with direnv (https://direnv.net/)
# Automatically activates the virtual environment when entering the directory
#
# To use:
# 1. Install direnv: https://direnv.net/docs/installation.html
# 2. Run: direnv allow
#
# The virtual environment will activate automatically when you cd into this directory

layout python python3

# Optional: Set custom environment variables
export FLASK_ENV=development
export PYTHONPATH="${PWD}:${PYTHONPATH}"
